.diceTray {
	/*border: 2px solid #555;
	border-radius: 10px;*/
	min-width: 50%;
	max-width: 45rem;
	min-height: 5rem;
	display: flex;
	flex-flow: row wrap;
	gap: 5px;
	padding: 5px;
	margin: 0 auto;
	user-select: none
}